
<body>
	<h1>Welcome to the Mind the Robe Productions!!!</h1>
	<p>Find me in app/views/main/index.html.erb</p>

	<h3>Founders:</h3>
	<ul>
		<li><a href="/jjt">John Thompson</a></li>
		<li><a href="/mf">Mike Fargnoli</a></li>
	</ul>

</body>
