
<head>

	<link type="text/css" rel="stylesheet" href="pages.css.scss"/>
	<title>John's Page</title>
	
</head>

<body class="jtHome">

	<h1> Hello, my name is John Thompson! </h1>

	<p><a href="/">Back to Main Page</a></p>

</body>