<!DOCTYPE html>
<html>
	<head>
		<title>John Thompson's Page</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
	
	</head>

	<body class="jtHome">

		<h1> Hello, my name is John Thompson! </h1>

		<p><a href="/">Back to Main Page</a></p>

	</body>
</html>