<!DOCTYPE html>
<html>
	<head>
		<title>John Thompson's Page</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
	
	</head>

	<body class="jtHome">
		<div id="header">
			<h1 id="logo">Mind the Robe</h1>
		</div>

		
		<div class="left_menu">
			<div class="btnHome">
				<p color=white, text-align=center><a href="/">Home</a></p>
			</div>
		</div>

		<div class="middle">
			<h1> Hello, my name is John Thompson! </h1>

			<p><a href="/">Back to Main Page</a></p>
		</div>

	</body>
</html>