<!DOCTYPE html>
<html>
	<head>
		<title>Fargs' Vastly Superior Page</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
	
	</head>

	<body class="mfHome">

		<h1> Hey, I'm Fargs, the other half of the Purple Robe team! </h1>

		<h2>This page is a work in progress... </h2>

		<p><a href="/">Back to Main Page</a></p>

	</body>
</html>